.text-field {
    position: relative;

    width: 100%;
}

.text-field__input {
    width: 100%;
    padding: calc(var(--gc) * 2) calc(var(--gc) * 2);

    font-weight: 400;
    font-size: calc(var(--gc) * 4);
    line-height: calc(var(--gc) * 4);

    background-color: var(--color-surface);
    color: var(--color-on-surface);

    border: none;
    box-shadow: 0 0 0 1px var(--color-on-surface);
}
