.heading {
    font-weight: 300;
}

.heading_level_1 {
    padding-top: calc(var(--gc) * 1);

    font-size: calc(var(--gc) * 6);
    line-height: calc(var(--gc) * 7);
}

.heading_level_2 {
    padding-top: calc(var(--gc) * 0.5);

    font-size: calc(var(--gc) * 5);
    line-height: calc(var(--gc) * 6);
}

.heading_level_3 {
    padding-top: calc(var(--gc) * 0.5);

    font-size: calc(var(--gc) * 4);
    line-height: calc(var(--gc) * 5);
}

@media screen and (min-width: 720px) {
    .heading_level_1 {
        padding-top: calc(var(--gc) * 2);

        font-size: calc(var(--gc) * 12);
        line-height: calc(var(--gc) * 14);
    }

    .heading_level_2 {
        padding-top: calc(var(--gc) * 1);

        font-size: calc(var(--gc) * 10);
        line-height: calc(var(--gc) * 12);
    }

    .heading_level_3 {
        padding-top: calc(var(--gc) * 0.5);

        font-size: calc(var(--gc) * 8);
        line-height: calc(var(--gc) * 10);
    }
}
