.sub-heading {
    opacity: 0.94;

    font-weight: 400;
}

.sub-heading_level_1 {
    padding-bottom: calc(var(--gc) * 2);

    font-size: calc(var(--gc) * 4);
    line-height: calc(var(--gc) * 6);
}

@media screen and (min-width: 720px) {
    .sub-heading_level_1 {
        padding-left: calc(var(--gc) * 0.5);
        padding-bottom: calc(var(--gc) * 4);

        font-size: calc(var(--gc) * 8);
        line-height: calc(var(--gc) * 10);
    }
}

.sub-heading_level_2 {
    padding-bottom: calc(var(--gc) * 1);

    font-size: calc(var(--gc) * 3);
    line-height: calc(var(--gc) * 5);
}

@media screen and (min-width: 720px) {
    .sub-heading_level_2 {
        padding-bottom: calc(var(--gc) * 2);

        font-size: calc(var(--gc) * 6);
        line-height: calc(var(--gc) * 8);
    }
}
