.salaries-distribution__container > svg,
.salaries-distribution-graph-distribution__label {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.salaries-distribution-graph-distribution__label {
    display: none !important;
}

@media screen and (min-width: 720px) {
    .salaries-distribution-graph-distribution__label {
        display: block !important;
    }
}

.salaries-distribution-graph__tooltip {
    position: absolute;
    z-index: 100;
    opacity: 1;

    padding: calc(var(--gc) * 4);

    background-color: var(--color-surface);
    color: var(--color-on-surface);

    box-shadow: 0 0 0 1px var(--color-on-surface);

    pointer-events: none;
}

.salaries-distribution-graph-tooltip__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: calc(var(--gc) * 1) 0 !important;

    border-bottom: 1px solid var(--color-on-surface);
}

.salaries-distribution-graph-tooltip__item:first-child {
    padding-top: 0 !important;
}

.salaries-distribution-graph-tooltip__item:last-child {
    padding-bottom: 0 !important;

    border: none;
}

.salaries-distribution-graph-tooltip-item__key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.salaries-distribution-graph-tooltip-item__color {
    display: inline-block;

    height: calc(var(--gc) * 4);
    width: calc(var(--gc) * 4);
}

.salaries-distribution-graph-tooltip-item__heading {
    font-weight: 500 !important;
}

.salaries-distribution-graph-tooltip-item__body {
    padding: 0 0 0 calc(var(--gc) * 4) !important;

    font-weight: 400 !important;
}
