@font-face {
    font-family: roboto-mono;
    src: url("font/roboto-mono-bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto-mono;
    src: url("font/roboto-mono-sbold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto-mono;
    src: url("font/roboto-mono-medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto-mono;
    src: url("font/roboto-mono-regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto-mono;
    src: url("font/roboto-mono-light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto-mono;
    src: url("font/roboto-mono-xlight.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: roboto-mono;
    src: url("font/roboto-mono-thin.ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

.theme {
    --gc: 4px;

    background-color: var(--color-background);
    color: var(--color-on-background);
}

.theme_typography {
    font-family: roboto-mono;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}

::selection {
    background-color: rgba(0, 0, 0, 0.12);
}

.theme_color_dark ::selection {
    background-color: rgba(255, 255, 255, 0.12);
}

.theme_color_light {
    --color-primary: #373838;
    --color-primary-light: #616262;
    --color-primary-dark: #111212;

    --color-secondary: #0f4c81;
    --color-secondary-light: #4c77b1;
    --color-secondary-dark: #002554;

    --color-background-rgba: 250, 250, 250;
    --color-background: #fafafa;
    --color-surface: #ffffff;
    --color-error: #bb002f;
    --color-success: #009624;

    --color-on-secondary: #fafafa;
    --color-on-secondary-light: #fafafa;
    --color-on-secondary-dark: #fafafa;

    --color-on-primary: #fafafa;
    --color-on-primary-light: #fafafa;
    --color-on-primary-dark: #fafafa;

    --color-on-background: #212121;
    --color-on-surface: #212121;
    --color-on-error: #fafafa;
    --color-on-success: #fafafa;
}

.theme_color_dark {
    --color-primary: #373838;
    --color-primary-light: ##616262;
    --color-primary-dark: #111212;

    --color-secondary: #0f4c81;
    --color-secondary-light: #4c77b1;
    --color-secondary-dark: #002554;

    --color-background-rgba: 18, 18, 18;
    --color-background: #121212;
    --color-surface: #121212;
    --color-error: #fa003e;
    --color-success: #00b82b;

    --color-on-secondary: #fafafa;
    --color-on-secondary-light: #fafafa;
    --color-on-secondary-dark: #fafafa;

    --color-on-primary: #fafafa;
    --color-on-primary-light: #fafafa;
    --color-on-primary-dark: #fafafa;

    --color-on-background: #fafafa;
    --color-on-surface: #fafafa;
    --color-on-error: #141414;
    --color-on-success: #121212;
}
