.dominance {
    padding-top: calc(var(--gc) * 4);

    min-height: calc(var(--gc) * 75);
}

.dominance__controls {
    display: flex;

    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(var(--gc) * 2);

    margin: calc(var(--gc) * 2) 0;
}

.dominance__graph-container {
    height: calc(var(--gc) * 75);
    min-height: calc(var(--gc) * 75);
    width: 100%;

    padding: calc(var(--gc) * 8);

    box-shadow: 0 0 0 1px var(--color-on-surface);
}

@media screen and (min-width: 720px) {
    .dominance {
        min-height: calc(var(--gc) * 101);

        padding-top: calc(var(--gc) * 8);
    }

    .dominance__controls {
        margin: calc(var(--gc) * 4) 0;
    }

    .dominance__graph-container {
        height: calc(var(--gc) * 101);
    }
}

@media screen and (min-width: 1200px) {
    .dominance {
        min-height: calc(var(--gc) * 168);
    }

    .dominance__graph-container {
        height: calc(var(--gc) * 168);
    }
}

@media screen and (min-width: 1600px) {
    .dominance {
        min-height: calc(var(--gc) * 225);
    }

    .dominance__graph-container {
        height: calc(var(--gc) * 225);
    }
}

/* visx responsive hacks start */
.dominance-graph-container__responsive,
.dominance-graph-container__responsive svg {
    overflow: visible !important;
}

.dominance-graph-container__responsive > div {
    overflow: visible !important;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}
/* visx responsive hacks end */
