.occurences {
    padding-top: calc(var(--gc) * 4);
    min-height: calc(var(--gc) * 150);
}

.occurences__controls {
    display: flex;

    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(var(--gc) * 2);

    margin: calc(var(--gc) * 2) 0;
}

.occurences__graph-container {
    height: calc(var(--gc) * 75);
    min-height: calc(var(--gc) * 75);
    width: 100%;

    padding: calc(var(--gc) * 8);

    box-shadow: 0 0 0 1px var(--color-on-surface);
}

.occurences_graph-container-responsive {
    overflow: visible !important;
}

.occurences_graph-container-responsive > div {
    overflow: visible !important;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.occurences__graph-container svg {
    overflow: visible !important;
}

@media screen and (min-width: 720px) {
    .occurences {
        padding-top: calc(var(--gc) * 8);
        min-height: calc(var(--gc) * 150);
    }

    .occurences__controls {
        margin: calc(var(--gc) * 4) 0;
    }

    .occurences__graph-container {
        height: calc(var(--gc) * 150);
        width: 100%;
    }
}

/* keys */

.graph-keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: calc(var(--gc) * 2);
    gap: var(--gc);
}

.graph-keys-key__image,
.graph-keys-key__image > rect {
    width: calc(var(--gc) * 3);
    height: calc(var(--gc) * 3);
}

.graph-keys__key {
    display: flex;
}

.graph-keys-key__text {
    font-size: calc(var(--gc) * 4);
    line-height: calc(var(--gc) * 4);
    font-weight: 400;

    margin: 0 var(--gc) !important;
}

@media screen and (min-width: 720px) {
    .graph-keys {
        margin-top: calc(var(--gc) * 4);
    }
}
